<%= simple_form_for([:users, @user]) do |f| %>

  <div class="form-inputs">
    <%= f.input :name, autofocus: true %>
    <%= f.input :email %>
    <%= f.input :password, required: true,
        hint: ("#{@minimum_password_length} caracteres no mínimo" if @minimum_password_length) %>
    <%= f.input :password_confirmation, required: true %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
