<% provide(:title, 'Usuários') %>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Funções</th>
      <th>Criado em</th>
      <th>Última atualização</th>

    </tr>
  </thead>
  <tbody>
     <% @users.each do |user| %>
       <tr>
         <td><%= link_to user.name, users_user_path(user) %></td>
         <td><%= user.email %></td>
         [<td><%= user.roles.map(&:name).join(', ') %></td>]
         <td><%= I18n.l user.created_at, format: :short %></td>
         <td><%= I18n.l user.updated_at, format: :short %></td>

       </tr>
     <% end %>
  </tbody>
</table>
