<%= provide(:title, 'Cadastrar colaborador') %>

<div class="clearfix">
  <%= link_to 'Colaboradores', users_users_path,
      class: 'pull-right btn btn-small btn-default' %>
</div>

<%= render 'form' %>
