<% provide(:title, 'Detalhes do Usuário') %>
<div class="clearfix">
  <%= link_to 'Usuários', users_users_path,
      class: 'pull-right btn btn-small btn-default' %>
</div>

<p><strong>Nome: </strong> <%= @user.name %> </p>
<p><strong>Email: </strong> <%= @user.email %> </p>
<p><strong>Papéis: </strong> <%= @user.roles.map(&:name).join(', ') %> </p>
<p><strong>Criado em: </strong> <%= I18n.l @user.created_at %> </p>
<p><strong>Última atualização</strong> <%= I18n.l @user.updated_at %> </p>
