<li class="divider"></li>

<li class="header"><span>Traduções</span></li>
<li>
  <%= link_to translations_path, title: "Minhas Traduções" do %>
     Minhas Traduções
  <% end %>
  <%= link_to responses_path, title: "Minhas Respostas" do %>
     Minhas Respostas
  <% end %>
</li>
