<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
      data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to(users_root_path, class: "navbar-brand") do %>
        PHEW! Traduções Colaborativas
      <% end %>
    </div>

    <div id="navbar" class="navbar-collapse collapse">

      <ul class="nav navbar-nav navbar-right">

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"
            role="button" aria-haspopup="true" aria-expanded="false">
            <%= current_user.name %> <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to edit_users_user_path(current_user) do %>
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                Meu perfil
              <% end %>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <%= link_to(destroy_user_session_path, method: :delete) do %>
                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                Sair
              <% end %>
            </li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
</nav>
