<li class="divider"></li>
<li class="header"><span>Revisor</span></li>
<li>
  <%= link_to "#", title: "Revisões" do %>
     Revisões
  <% end %>
</li>
<li>
  <!-- <%= link_to "#", title: "Traduções" do %>
     Traduções
  <% end %> -->
</li>
