<div id="sidebar-default-parent">
  <ul id="sidebar-menu">

    <li class="divider"></li>



    <li>
      <%= link_to "Página inicial", users_root_path, title: "Página inicial" %>
    </li>

    <%= render('users/layouts/interpreter_menu') if current_user.has_role? :interpreter %>

    <%= render('users/layouts/reviewer_menu') if current_user.has_role? :reviewer %>

  </ul>
</div>
