<!DOCTYPE html>
<html>
    <head>
        <title><%= full_title(yield(:head_title)) %></title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'users/application',
            media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'users/application',
            'data-turbolinks-track': 'reload' %>
    </head>

    <body>

      <div id="page-header">
           <%= render 'users/layouts/navbar'%>
      </div> <!-- page-header -->


      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-3 col-md-2 sidebar">
            <%= render 'users/layouts/sidebar' %>
          </div> <!-- sidebar -->

          <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <section id="<%= controller_name %>-<%= action_name %>" >

              <%= render 'devise/shared/flash_messages'%>

              <header class="page-header">
                <h1><%= yield(:title) %></h1>
              </header>

              <%= yield %>

            </section>
          </div> <!-- page-content -->
        </div> <!-- row -->
      </div> <!-- container-fluid -->

    </body>
</html>
