<%= simple_form_for @translation do |f| %>
  <div class="form-inputs">
    <%= f.input :subject, autofocus: true %>
    <%= f.input :description %>
    <%= f.input :sourcefile, as: :file %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>


<% end %>
