<!DOCTYPE html>
<html>
    <head>
        <title><%= full_title(yield(:head_title)) %></title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'users/application',
            media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'users/application',
            'data-turbolinks-track': 'reload' %>
    </head>

    <body>

      <div id="page-header">
           <%= render 'users/layouts/navbar'%>
      </div> <!-- page-header -->


      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-3 col-md-2 sidebar">
            <%= render 'users/layouts/sidebar' %>
          </div> <!-- sidebar -->

          <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <section id="<%= controller_name %>-<%= action_name %>" >

              <%= render 'devise/shared/flash_messages'%>



              <header class="page-header">
                <h1>Minhas Traduções</h1>
              </header>


              <div class="lead clearfix">
                <%= link_to 'Nova Tradução', new_translation_path,
                  class: 'pull-right btn btn-small btn-success' %>
              </div>
              <table class="table table-hover table-bordered">
                <thead>
                  <tr>
                    <th>Usuário</th>
                    <th>Assunto</th>
                    <th>Descrição</th>
                    <th>Criado em</th>
                    <th>Última atualização</th>
                    <th>Arquivo</th>
                    <th>Opções</th>
                  </tr>
                </thead>
                <tbody>
                  <% @translations.each do |translation| %>


                    <% if translation.user == current_user %>


                      <tr>
                        <td><%= translation.user.name %></td>
                        <td><%= translation.subject %></td>
                        <td><%= translation.description %></td>
                        <td><%= I18n.l translation.created_at, format: :short %></td>
                        <td><%= I18n.l translation.updated_at, format: :short %></td>

                        <% if !translation.sourcefile.blank? %>
                          <td><%= link_to "Download", translation.sourcefile.url(:original, false) %></td>
                        <% else %>
                          <td>Nenhum Arquivo Disponível</td>
                        <% end %>

                        <td>
                          <%= link_to 'Visualizar', translation_path(translation) %> |
                          <%= link_to 'Remover',[translation], method: :delete,  data: { confirm: 'Tem certeza que deseja excluir esta tradução?' } %>
                        </td>
                      </tr>

                    <% end %>

                  <% end %>
                </tbody>
              </table>


            </section>
          </div> <!-- page-content -->
        </div> <!-- row -->
      </div> <!-- container-fluid -->

    </body>
</html>
