<!DOCTYPE html>
<html>
    <head>
        <title><%= full_title(yield(:head_title)) %></title>
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag    'users/application',
            media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'users/application',
            'data-turbolinks-track': 'reload' %>
    </head>

    <body>

      <div id="page-header">
           <%= render 'users/layouts/navbar'%>
      </div> <!-- page-header -->


      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-3 col-md-2 sidebar">
            <%= render 'users/layouts/sidebar' %>
          </div> <!-- sidebar -->

          <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <section id="<%= controller_name %>-<%= action_name %>" >

              <%= render 'devise/shared/flash_messages'%>

              <header class="page-header">
                <h1>Detalhes da Tradução</h1>
              </header>
              <p><strong>Número Tradução: </strong> <strong style="font-size:15px"><%= @translation.id %> </strong></p>
              <p><strong>Usuário: </strong> <%= @translation.user.name %> </p>
              <p><strong>Título: </strong> <%= @translation.subject %> </p>
              <p><strong>Resumo: </strong> <%= @translation.description %> </p>
              <p><strong>Criado em: </strong> <%= I18n.l @translation.created_at %> </p>
              <p><strong>Última atualização:</strong> <%= I18n.l @translation.updated_at %> </p>
              <p><strong>Arquivo da Tradução:</strong>
                <% if !@translation.sourcefile.blank? %>
                  <td><%= link_to "Download", @translation.sourcefile.url(:original, false) %></td>
                <% else %>
                  <td>Nenhum Arquivo Disponível</td>
                <% end %>

               </p>



              <% if current_user != @translation.user %>

                <div style="background-color:#D3D3D3">
                  <header class="page-header">
                  </header>
                </div>

                  <h3>Enviar uma resposta</h3>
                  <%= simple_form_for @response do |f| %>
                    <div class="form-inputs">
                      <%= f.association :translation %>
                      <%= f.input :message, autofocus: true %>
                      <%= f.input :sourcefile, as: :file %>
                    </div>
                    <div class="form-actions">
                      <%= f.button :submit %>
                    </div>
                  <% end %>



              <% end %>




              <div style="background-color:#D3D3D3">
                <header class="page-header">
                </header>
              </div>

              <h3>Respostas para esta tradução</h3>

              <table class="table table-hover table-bordered">
                <thead>
                  <tr>
                    <th>Tradução</th>
                    <th>Usuário</th>
                    <th>Mensagem</th>
                    <th>Criado em</th>
                    <th>Última atualização</th>
                    <th>Arquivo</th>
                    <th>Opções</th>
                  </tr>
                </thead>
                <tbody>
                  <% @responses.each do |response| %>

                      <% if response.translation_id == @translation.id %>
                        <tr>
                          <td><%= response.translation.id %></td>
                          <td><%= response.user.name %></td>
                          <td><%= response.message %></td>
                          <td><%= I18n.l response.created_at, format: :short %></td>
                          <td><%= I18n.l response.updated_at, format: :short %></td>

                          <% if !response.sourcefile.blank? %>
                            <td><%= link_to "Download", response.sourcefile.url(:original, false) %></td>
                          <% else %>
                            <td>Nenhum Arquivo Disponível</td>
                          <% end %>


                          <td>
                            <%= link_to 'Remover',[response], method: :delete,  data: { confirm: 'Tem certeza que deseja excluir esta resposta?' } %>
                          </td>
                        </tr>
                      <% end %>

                  <% end %>
                </tbody>
              </table>


            </section>
          </div> <!-- page-content -->
        </div> <!-- row -->
      </div> <!-- container-fluid -->

    </body>
</html>
