<% provide(:title, 'Traduções de Outros Usuários') %>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Usuário</th>
      <th>Assunto</th>
      <th>Descrição</th>
      <th>Criado em</th>
      <th>Última atualização</th>
      <th>Arquivo</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody>
    <% @translations.each do |translation| %>

    <% if translation.user != current_user %>

      <tr>
        <td><%= translation.user.name %></td>
        <td><%= translation.subject %></td>
        <td><%= translation.description %></td>
        <td><%= I18n.l translation.created_at, format: :short %></td>
        <td><%= I18n.l translation.updated_at, format: :short %></td>

        <% if !translation.sourcefile.blank? %>
          <td><%= link_to "Download", translation.sourcefile.url(:original, false) %></td>
        <% else %>
          <td>Nenhum Arquivo Disponível</td>
        <% end %>

        <td>
          <%= link_to 'Visualizar', translation_path(translation) %>
        </td>
      </tr>

     <% end %>

    <% end %>
  </tbody>
</table>
