<%= simple_form_for @response do |f| %>
  <div class="form-inputs">
    <%= f.input :message, autofocus: true %>
    <%= f.input :sourcefile, as: :file %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>


<% end %>
