<%= provide(:title, 'Editar Tradução') %>

<head>
    <title><%= full_title(yield(:head_title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'customers/application',
        media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'customers/application',
        'data-turbolinks-track': 'reload' %>
</head>

<body>



  <div class="center jumbotron"> <h3>Editar Tradução</h3> </dir>
<%= render 'form' %>
