/*************************************************************
* HTML and body style
**************************************************************/
body,
html {
    height: 100%;
    background: #fff;
}

body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    color: #3e4855;
    background-color: #fff;
    line-height: 1.42857143;
    padding-top: 50px;
}
/*************************************************************
* Navbar
**************************************************************/
#page-header {
    .navbar {
        border-color: rgb(49, 107, 175);
        background: rgb(49, 175, 175);
        height: 50px;
    }

    .navbar-brand,
    .navbar-nav > li > a {
        color: #fff;
    }

    .nav > li > a:hover,
    .nav > li > a:focus {
      background-color: rgba(255, 255, 255, 0.22);
    }

    .nav-separator {
      -webkit-box-shadow: 0px 17px 37px -10px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 17px 37px -10px rgba(0,0,0,0.75);
      box-shadow: 0px 17px 37px -10px rgba(0,0,0,0.75);
    }
}

/*************************************************************
* Sidebar
**************************************************************/
.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px 10px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #fff;
  border-right: 1px solid #eee;
}

#sidebar-menu {
  margin: 0;
  padding: 5px 10px;
  list-style: none;

  li {
    position: relative;
    margin: 2px 0;
  }

  li.header {
    text-transform: uppercase;
    font-size: 12px;
    padding: 5px 0;
    font-weight: 700;
  }

  li a {
    display: block;
    position: relative;
    line-height: 32px;
    height: 32px;
  }

  > li > a {
    padding: 0 10px 0 0;
    border-radius: 3px;
    font-size: 13px;
    border: 1px solid transparent;
    line-height: 35px;
    height: 36px;
    color: #8da0aa;
  }

  .divider, .nav-divider {
    background: #dfe8f1;
  }

  .divider {
    overflow: hidden;
    height: 1px;
    margin: 10px 0;
    padding: 0;
  }

  li a .fa {
    font-size: 20px;
    line-height: 30px;
    display: block;
    float: left;
    width: 30px;
    margin-left: 5px;
    text-align: center;
    opacity: .5;
  }

  li.active {
      background: rgba(77, 81, 77, 0.08);
      border-radius: 4px;
      padding-left: 5px;
  }

  li.active > a {
      color: black;
  }
}

/*************************************************************
* alert
**************************************************************/
.alert {
  margin-top: 10px;
}

/*************************************************************
* page-header
**************************************************************/
.page-header {
    margin-top: 20px;

    h1 {
      margin-bottom: 7px;
    }
}
