/*************************************************************
* Vertical and horizontal align
**************************************************************/

html, body {
  height: 100%;
  background: #FFF;
}

.container {
  height: 100%;
}

.vertical-centering {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.horizontal-centering {
  width: 50%;
  margin: auto;
}

/*************************************************************
* Navbar
**************************************************************/
#page-header {
    .navbar {
        border-color: rgb(49, 107, 175);
        background: rgb(49, 107, 175);
        height: 50px;
    }

    .navbar-brand,
    .navbar-nav > li > a {
        color: #fff;
    }

    .nav > li > a:hover,
    .nav > li > a:focus {
      background-color: rgba(255, 255, 255, 0.22);
    }

    .nav-separator {
      -webkit-box-shadow: 0px 17px 37px -10px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 17px 37px -10px rgba(0,0,0,0.75);
      box-shadow: 0px 17px 37px -10px rgba(0,0,0,0.75);
    }
}
