<!DOCTYPE html>
<html>
    <head>
      <title><%= full_title(yield(:head_title)) %></title>
      <%= csrf_meta_tags %>

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>



      <div id="page-header">
           <%= render 'layouts/navbar'%>
      </div> <!-- page-header -->

          <div class="container">
            <%= yield %>
          </div>
    </body>
</html>
